<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="®IFDAB">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles/css/main.css">
        <title>neont</title>
    </head>
    <header id="header">
        <nav class="left">
            <a href="/" class="logo">neoOntology</a>
        </nav>
        <nav class="right">
            <a href="/view/files" class="button alt">Files</a>
            <a href="/view/ontologies" class="button alt">Ontologies</a>
            <a href="/view/controlmonitoring" class="button alt">Monitoring</a>
        </nav>
    </header>
    <body class="subpage">
        <section id="banner">
            <div class="content">
                <h1>neoOntology</h1>
                <p> neoOntology is a web-based ontology server for data sharing in Through-life Engineering Services</p>
            </div>
        </section>
        <section id="main" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1><a href="/view/files">Files</a></h1>
                    <p>Files available to download from neoOntology repository</p>
                </header>
            </div>
            <div class="inner">
                <header class="align-center">
                    <h1><a href="/view/ontologies">Ontologies</a></h1>
                    <p>Ontologies available at neoOntology repository</p>
                </header>
            </div>
            <div class="inner">
                <header class="align-center">
                    <h1><a href="/view/controlmonitoring">Monitoring</a></h1>
                    <p>Cloud monitoring for assets with real-time data stored at neoOntology repository</p>
                </header>
            </div>
        </section>
    </body>
    <footer id="footer">
        <div class="inner">
            <ul class="actions">
                <li><a href="mailto:i.fernandez@cranfield.ac.uk">Iñigo Fernández del Amo</a></li>
                <li><a href="https://www.cranfield.ac.uk/people/iigo-fernndez-del-amo-blanco-15695326">&copy; Cranfield University</a></li>
                <li>®2019 neoOntology</li>
            </ul>
        </div>
    </footer>
    <script>src="neoOntology.js"</script>
</html>